header {
    display: flex;
    width: 77.1%;
    margin: 0 auto;
    padding-top: 15px;
    margin-bottom: 73px;

    .logo-block {
        width: 11.9%;
    }
}

.menu {
    display: flex;
    align-items: center;
    width: 91%;
}

nav {
    width: 38.8%;
    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 0;

        li {
            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: #77B900;
                }
            }
        }
    }
}

.social {
    display: flex;
    justify-content: space-between;
    width: 9.8%;

    a {
        svg {
            &:hover path {
                fill: #77B900;
            }
        }
    }
   }
   