header {
    background: #000;
}

.container {
    display: flex;
    align-items: center;
    width: 77.1%;
    margin: 0 auto;
    padding: 15px 0;

    .logo-block {
        width: 11.9%;
    }
}

.menu {
    display: flex;
    align-items: center;
    width: 91%;
}

nav {
    width: 38.8%;
    ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 0;
        list-style: none;

        li {
            a {
                color: #fff;
                text-decoration: none;
                //
                //font-size: 1.2vw;

                &:hover {
                    color: #77B900;
                }
            }
        }
    }
}

.social {
    display: flex;
    justify-content: space-between;
    width: 9.8%;

    a {
        svg {
            &:hover path {
                fill: #77B900;
            }
        }
    }
} 

.burder {
    display: none;
}

@media screen and (max-width: 1200px) {
    .container {
        width: 89vw;
        .logo-block {
            width: 20.9%;
          }
      }

      nav {
        width: 52.8%;

      }
      
   }

   @media screen and (max-width: 768px) {
    .container {

        .menu {
            width: 79%;
        }
        width: 89vw;
        .logo-block {
            width: 22.9%;
            
          }
      }
      nav {
        width: 73.8%;
    }
    }

    @media screen and (max-width: 600px) {
        .container {
            justify-content: space-between;
        }
        nav {
            display: none;
        }
        .social {
            display: none;
        }

        .burger {
            display: block;
            padding: 18px;
            border: none;            

            &:hover {
                background: #77B900;
                cursor: pointer;
            }

            button {
                background: none;
                border: none;
                padding: 0;
            }

            span {
                display: block;
                height: 2px;
                width: 26px;
                background: #fff;
                border-radius: 22%;

                margin-bottom: 4px; 
                    &:last-child {
                        margin-bottom: 0;
                    }
            }

            // height: 2px;
            // width: 56px;
            // background: #fff;

        }
    }



   