.burger-menu-block {
    display: flex;
    position: absolute;
    width: 320px;
    margin: auto;
    left: 0;
    right: 0;
    flex-direction: column;
    padding-top: 28px;
    background: #000;

    .nav-burger {
        display: block;
        ul {
            flex-direction: column;
            align-items: center;
            li {
                margin-bottom: 30px;
            }
        }
    }

    .social-burger {
        a {
            svg {
                &:hover path {
                    fill: #77B900;
                }
            }
        }
    }
}
