main {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.background {
    background: no-repeat url("./components/bg.png");
    background-size: cover;
    padding-top: 61px;
    margin-bottom: 0px;
    
  }