main {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.background {
    background: no-repeat url("./components/bg.png");
    background-size: cover;
    height: 110vh;
    padding-top: 61px;
    padding-bottom: 173px;
    margin-bottom: 0px;  
  
}

.popup-container {
  width: 93.7vw;
  z-index: 100;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.menu-container {
  width: 100%;
  z-index: 100;
  margin: 0 auto;
  position: fixed;
  top: 94px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba($color: #000000, $alpha: 0.9);
}

@media screen and (max-width: 1200px) {
  main {
    width: 100%;
  }
  .popup-container {
    width: 100%;
  }
  .background {
    height: 100%;
  }
}